<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'UWP1' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>4e4675d2-ac5b-4f4d-8b0e-cb5fbc8d8582</InstrumentationKey>
</ApplicationInsights>