<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModernUITwitterApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModernUITwitterApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModernUITwitterApp.Properties.Settings>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </ModernUITwitterApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ModernUITwitterApp.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>rXBbSNc4nf01jY2tYYhcQlLdQ</value>
            </setting>
            <setting name="ApiSecret" serializeAs="String">
                <value>nSaEdTdvVuAHbv8torT1RzvdHRLdF0b6XiUCO5n5Ciq43gv3vs</value>
            </setting>
        </ModernUITwitterApp.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_LanguageService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.microsofttranslator.com/V2/soap.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService" contract="Translator.LanguageService" name="BasicHttpBinding_LanguageService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
